img.logo {
  height: 200px;
  width: auto;
}

.title {
  text-align: center;
}

.mainForm {
  padding-top: 25px;
}
.results {
  padding-top: 25px;
}

.button-toggler {
  display: flex;
  justify-content: center;
}

.button-toggler button {
  margin: 10px;
}
