body {
  font-size: 16px;
}

h2, h3, h4, h5, p, .btn  {
      font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  background: #f2f3f5;
}

.mainFormContainer {
  margin-right: 10%;
  margin-left: 10%;
}

label, input::placeholder {
    font-family: "Nunito Sans", sans-serif;
}

input::placeholder {
  color: #121319 !important;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 4em;
  color: #121319;
}

p {
  font-size: 1em;
  font-weight: 400;
}

label {
  font-size: 1.25em;
  font-weight: 500;
  color: #121319;
}

img.logo {
  height: 200px;
  width: auto;
}

.title, .disclaimer {
  text-align: center;
  color: #121319;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.results {
  padding-top: 25px;

}

.results p {
  color: #121319;
  font-weight: bold;
}

.button-toggler {
  display: flex;
  justify-content: center;
}

.button-toggler button {
  margin: 10px;
}

button {
  background: #121319;
  color: #f2f3f5;
}

button:hover {
  color: #dee2e4;
}


@media (max-width: 480px) {

  .title {
    display: block;
    align-content: center;
  }

  .button-toggler{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }


}
