/* colors
light gray: #fcfcfc
dark gray: #252525
darkest gray: #181f24
green: #1baf95
font color: white */

body {
  font-size: 16px;
}

h2, h3, h4, h5, p, .btn  {
      font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding-top: 25px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: #181f24;
}

.mainFormContainer {
  margin-right: 10%;
  margin-left: 10%;
  padding: 2% 4%;
  background: #252525;
  border-radius: 25px;
}

label, input::placeholder {
    font-family: "Nunito Sans", sans-serif;
}

input::placeholder {
  color: #121319 !important;
}

h1 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 4em;
  color: #ffffff;
}

p {
  font-size: 1em;
  font-weight: 400;
}

label {
  font-size: 1.25em;
  font-weight: 500;
  color: #ffffff;
}

img.logo {
  height: 200px;
  width: auto;
}

.title, .disclaimer {
  text-align: center;
  color: #ffffff;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.results {
  padding-top: 25px;

}

.results p {
  color: #ffffff;
  font-weight: bold;
}

.button-toggler {
  display: flex;
  justify-content: center;
}

.button-toggler button {
  margin: 10px;
}

button {
  background: #1baf95;
  color: #ffffff;
}

button:hover {
  background: #fcfcfc;
  color: #1baf95;
}


@media (max-width: 480px) {

  h1 {
    line-height: 1em;
  }
  .title {
    display: block;
    align-content: center;
  }

  .button-toggler{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }

  .mainFormContainer  {
    margin-right: 0;
    margin-left: 0;
    padding-left: 8%;
    padding-right: 8%;
  }

}
